SELLER_HOME_WAIT_MS=15000
SELLER_HOME_AFTER_ENTRY_MIN_WAIT_MS=120000
SELLER_HOME_AFTER_ENTRY_TIMEOUT_MS=600000
MANUAL_LOGIN_TIMEOUT_MS=600000

HUMAN_DELAY_MIN_SECONDS=2
HUMAN_DELAY_MAX_SECONDS=5

WPS_INITIAL_WAIT_MS=120000
WPS_OPENAPI_TIMEOUT_MS=180000
CLOSE_CHROME_AFTER_RUN=1

CHROME_PATH=C:\Program Files\Google\Chrome\Application\chrome.exe

WPS_DOC_URL=https://www.kdocs.cn/l/REMOVED_PRIVATE_DOCUMENT
WPS_SHEET_NAME=运营数据记录表

ACCOUNT_COUNT=2

ACCOUNT_1_NAME=TEMU 1
ACCOUNT_1_CDP_PORT=9222
ACCOUNT_1_CHROME_PROFILE=C:\seller-central-profiles\temu1
ACCOUNT_1_SOURCE_EXCEL=C:\seller-central-data\temu-reference.xlsx
ACCOUNT_1_SOURCE_EXCEL_SPU_COLUMN=A
ACCOUNT_1_GROUP_TITLE=TEMU 1

ACCOUNT_2_NAME=TEMU 2
ACCOUNT_2_CDP_PORT=9223
ACCOUNT_2_CHROME_PROFILE=C:\seller-central-profiles\temu2
ACCOUNT_2_SOURCE_EXCEL=C:\seller-central-data\temu-reference.xlsx
ACCOUNT_2_SOURCE_EXCEL_SPU_COLUMN=D
ACCOUNT_2_GROUP_TITLE=TEMU 2
